body{
    background-image: url(image/image.png);
    font: 1em sans-serif;           /* enable flexbox */
    justify-content: center;     /* center horizontally */
    align-items: center;                
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;            /* Prevent repeating */
    background-size: cover;                  /* Make it cover the whole page */
    line-height: 1.8;
    align-content: center;

}
button{
    height: 30px;
    width: auto;
    padding: 12px 16px;
    position: middleA;   /* ensure buttons can expand inside flex */
    justify-content: space-between;
    border-radius: 6px;

    
}
button:hover{
    background: rgb(86, 193, 86)
}
hr{
    background-color: rgb(78, 246, 31);
    height: 5px;
}
form{
    background-color: white;
    border: solid rgb(86, 193, 86);
    padding: 12px 16px;
    border-radius: 5px;
}

table{
    border :solid black ;
    width: AUTO;
    height: auto;
    align-items:middel;
}

label{
    background-color: white;
    
}

input{
    background-color: rgba(115, 131, 223, 0.415);
    border: solid black;
}
input.hover{
    background-color: aliceblue;
}